* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
}

h3 {
  font-size: 1.6em;
  font-weight: 500;
}

p {
  font-size: 1.1em;
  font-weight: 100;
  text-align: justify;
}

header {
  background-color: rgb(43, 226, 125);
  padding: 1em;
  color: whitesmoke;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navegacao ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 1rem;
}
.navegacao ul li a {
  text-decoration: none;
  font-weight: bold;
  }

.logo {
  width: 25%;
}

.banner img {
  width: 100%;
  padding: 0 20px ;
}

section {
  display: flex;
  padding: 0.5em;
  flex-wrap: wrap;
  justify-content: space-around;
}

h2 {
  text-align: center;
  padding: 2rem 0;
  color: rgb(13, 34, 228);
}

section article {
  width: 30%;
  border: 1px solid rgb(184, 233, 8);
  margin: 0.5em;
}

section article img {
  width: 100%;
}

section article h3 {
  color: rgb(13, 34, 228);
  margin: 0.5em;
}

section article p {
  color: black;
  margin: 0.5em;
}

.video {
  width: 100%;
  display: flex;
}

.video_link {
  width: 100%;
}

iframe {
  width: 100%;
  padding: 0 20px 20px 20px;
}

.link_redessociais {
  display: flex;
  justify-content: center;
}
.github {
  width: 100px;
}
.linkedin {
  width: 100px;
}
footer {
  background-color: rgb(43, 226, 125);
  padding: 1.5em 0.5em;
  text-align: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

footer p {
  text-align: center;
  margin: 0.5em 0;
}


@media screen and (max-width: 600px) {
  section {
    width: 100%;
    flex-direction: column;
  }
  section article {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .banner {
    display: none;
  }
  h2 {
    font-size: 1.2rem ;
  }
  .cabecalho {
    flex-direction: column;
  }
  .logo_link {
    width: 200%;
    text-align: center;
    margin-bottom: 1rem;
   }
   .link_redessociais {
    flex-direction: column;
   }
   footer p {
    font-size: 12px;
   }
}